.container {
    margin-top: 1rem;
    padding: 1.5rem;
    background: rgba(197,198,200,0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container > h6 {
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.container > h6 > span {
    margin-left: 1.8rem;
}

.buttons {
    display: flex;
    column-gap: 1rem;
}