.container {
    grid-area: language;
    justify-self: right;
    display: flex;
    flex-direction: column;
}

.container > h4 {
    margin-bottom: 0.5rem;
}

.container > nav,
.languageMobileMenu > nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.container > nav > a,
.languageMobileMenu > nav > a {
    font-size: 0.8rem;
    color: var(--dark-gray);

    border: 1px solid var(--dark-gray);
    border-radius: 4px;

    line-height: 2.1rem;
    padding: 0 1rem;

    cursor: pointer;

    transition: 0.2s;
}

.container > nav > a:hover,
.container > nav > a.active,
.languageMobileMenu > nav > a:hover,
.languageMobileMenu > nav > a.active {
    color: var(--dark-green);
    border-color: var(--dark-green);
}

.container > span {
    color: var(--light-gray);
    opacity: 0.5;
    font-size: 0.8rem;
    line-height: 1rem;
    font-style: italic;
    align-self: flex-end;
    position: relative;
    padding-right: 1.4rem;
    font-weight: 300;
}

.container > span::after {
    content: '↑';
    font-size: 140%;
    position: absolute;
    top: 10%;
    right: 0;
}

.container > nav > a.emtpy {
    color: inherit;
}


.languageMobileMenu {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    
    display: none;
}

.languageMobileMenu > nav {
    top: 2.5rem;

    display: flex;
    gap: 1.5rem;

    background: rgba(197, 198, 200, 0.05);
    padding: 1.5rem;
    border-radius: 0.5rem;
    animation: languageMenu 0.2s;
}

.languageMobileMenu > nav > a {
    flex: 1;
    text-align: center;
}

.visible {
    display: initial;
}

@keyframes languageMenu {
    from {
        padding: 0.8rem;
        opacity: 0;
    }
    to {
        padding: 1.5rem;
        opacity: 1;
    }
}

@media(max-width: 720px) {
    .container {
        flex-direction: row-reverse;
        margin-bottom: 0.5rem;
    }

    .container > h4,
    .container > nav > a {
        display: none;
    }

    .container > nav {
        margin-bottom: 0;
        margin-left: 1rem;
    }

    .container > nav > a.active {
        display: initial;
    }

    .container > span {
        align-self: center;
        padding-right: 1.6rem;
    }
    
    .container > span::after {
        content: '→';
        top: -10%;
    }
}