* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #46A29F;
  --light-green: #66FCF1;
  
  --bg-dark: #151B23;
  --bg-light: #1F2833;
  
  --light-gray: #C5C6C8;
  --dark-gray: #929395;

  --white: #ffffff;
}

@media(max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}

body {
  background: linear-gradient(180deg, #151B23 0%, #1F2833 100%);
  color: var(--white);
}

body, input, textarea, button {
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(180deg, #46A29F 0%, #66FCF1 100%);
  background-clip: text;
  color: transparent;
}

h3 {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  color: var(--dark-green);
  text-transform: uppercase;
  font-weight: 400;
}