.experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.experience p {
    display: flex;
    font-weight: 300;
    flex-wrap: wrap;
}

.experience h6 {
    margin: 0 1.8rem 0 0.4rem;
}

.experience span {
    color: var(--dark-gray);
    font-size: 0.8rem;
}