.experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.experience p {
    display: flex;
    font-weight: 300;
    flex-wrap: wrap;
}

.experience h6 {
    margin: 0 1.8rem 0 0.4rem;
}

.experience span {
    color: var(--dark-gray);
    font-size: 0.8rem;
}

.experience > nav {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.mt1 {
    margin-top: 1rem;
}

.experience .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27.25rem, 1fr));
    gap: 2rem;
}

@media(max-width: 720px) {
    .experience .projects {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}