.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    margin-bottom: 2.5rem;

    background: rgba(197, 198, 200, 0.05);
    border-radius: 4px;
}

.section p {
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--light-gray);
}

.section > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.section > div:last-child {
    padding-bottom: 0;
    border: 0;
}

@media(max-width: 720px) {
    .section {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .section > div {
        padding-bottom: 1.5rem;
    }
}